* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Poppins, sans-serif;
}

nav {
    display: flex;
    position:relative;
    padding:0;
    background-color: #f55a5a;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--title{
    display: flex;
    position: relative;
    overflow: hidden;
    font-weight: 500;
    font-size: 14.46px;
    color: white;
    padding: 0 45%;
}

.nav--logo{
    display: flex;
    position: absolute;
    height:24px;
    width: 24px;
    top: 10px;
    left: 43%;
}